<% include ../partials/head %>
<div class="jumbotron">
    <h1 class="display-3">Welcome</h1>
    <p class="lead">My name is Padchara Teeduang</p>
    <p>Student id:5930213031</p>
    <hr class="my-2">
    <p>More info</p>
    <p>This website is my first project in course full stack web</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/product" role="button">Let's Go</a>
    </p>
</div>
<% include ../partials/footer %>