<% include ../partials/head %>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Price</th>
            <th>
            <form action="/product/insert" method="post">
            <button type="submit" class="btn btn-success" onclick="Add()">Add New</button>
            <input type="hidden" id="MysecretID" name="id" value="" />
            <input type="hidden" id="MysecretName" name="name" value="" />
            <input type="hidden" id="MysecretPrice" name="price" value="" />
            </form>
            </th>
        </tr>
    </thead>
    <tbody>
    <% products.forEach(function(product) { %>
        <tr>
            <td scope="row"><%= product.product_id %></td>
            <td><%= product.title %></td>
            <td>$<%= product.price %></td>
            <td><a class="btn btn-primary" href="/product/<%= product.product_id %>" role="button">Edit</a></td>
            </tr>
        <% }); %>
    </tbody>
</table>
<script>
function Add(){
    alert("Add New Infomation");
    var id = prompt("Add id:",""); 
    var name=prompt("Add Name Product","");
    var price=prompt("Add Price","");
        document.getElementById('MysecretID').value = id;
        document.getElementById('MysecretName').value = name;
        document.getElementById('MysecretPrice').value =price;
}
</script>
<% include ../partials/footer %>